body{
    background-image: url(cafe1.jpeg);
    background-size: cover;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

.subtitle{
    letter-spacing: 1.5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
hr{
    width: 280px;
    height: 1px;
    border-color: rgb(145, 236, 236);
    border-radius: 2px solid;
    background-color: rgb(145, 236, 236);
}
.central{
    text-align: center;
}

.image{
    text-align: center;
}

.menu{
    box-shadow: 1px 0px 8px 0px rgba(127, 255, 212, 0.473);
    border-style: double;
    border-width: 7px;
    border-color: rgba(1, 121, 81, 0.555);
    padding: 3px;
    border-radius: 13px;
    min-width: 350px;
    max-width: 500px;
    margin: auto;
    background-color: aliceblue;
    
}

.flavor, price{
    font-size: 18px;
}

article{
 padding-left: 7px;
 padding-right: 7px;
 display: flex;
 justify-content: space-between;
 
}

footer{
    padding: 20px;
    text-align: center;
}

a{
    color: black;
    
}

a:hover{
    color: rgba(9, 139, 96, 0.61);
}